code, kbd, pre {
    background-color: #cfc;
    color: navy;
    font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: smaller;
}

pre {
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    overflow: auto;
    padding: 0.75em 1.625em;
}

.box-list {
  border: dashed black 1px;
  display: flex;
    align-items: center;
    flex-direction: column;
  /* when cdkDropListOrientation="horizontal" comment out flex properties below: */
  /* flex-direction: row; */
  padding: .5em 0;
  width: 50%;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box {
  /* background-color: yellow; */
  border: dashed orange 1px;
  cursor: move;
  display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: center;
  margin: .25em;
  padding: .25em;
  /* width: 90%; */
}

.cdk-drag {
  /* this is the animation that fires for the drag */
    transition: transform 150ms ease;
}

.cdk-drag-animating {
  /* this is the animation that fires for the drop */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  /* setting opacity to zero makes a blank space between list items during drag preview */
  opacity: 0;
}

.cdk-drag-preview {
  background-color: greenyellow;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .7;
}

* {
  margin: 0; padding: 0;
}
.wrap {
  width: 100%;
  overflow:auto;
  }
  
  .fleft {
      float:left; 
      width: 20%;
      background:whitesmoke;
      height: 100%;
  }
  
  .fright {
      float: right;
      background:white;
      height: 100%;
      width: 80%;
  }
  


  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }
  
  /* tr:hover {background-color: #f5f5f5;} */
  tr:nth-child(even) {background-color: #f2f2f2;}
  th {
    background-color: #4CAF50;
    color: white;
  }

  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:95%;
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
      
  }
  #table-wrapper table * {
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }

  .progress-bar {
    margin: 0;
    top: 0;
    position: absolute;
    left: 0;
    width:100%;
  }
  